body {
    margin: 0;
    overflow: hidden;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 2px solid #fff;
    background: url('assets/background.jpg') repeat-x;
    background-size: cover;
}